body{
  padding:0px;
  background-color:rgb(63, 58, 58);
  color:white;
  width:90vw;
  height:90vh;

}
.New-list{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   border:1px solid white;
   width:30vw;
   height:60vh;
   position: relative;
   top:30px;
   left:300px;
   background-color:rgb(80, 9, 21);
   font-size:1.1em;

}

.Todo-Items{
  border:1px solid white;
 

}

